@tailwind base;
@tailwind components;
@tailwind utilities;

/* Header */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  );
  border-bottom: 1px solid rgba(var(--foreground-rgb), 0.1);
}
