body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #284966;
  }

  .logo {
    height: 50px;
  }

  .logo-name {
    margin-left: 1rem;
    font-weight: 600;
    margin-right: auto;
  }

  .search-bar {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-image: url("./assets/search.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center; 
    padding-right: 30px;
  }

  .pages {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
    font-weight: 600;
  }
  
  
  /* Temporary styling - Suggested to remove after adding the expected/provided CSS package. Comment by Khosiyat */
  .additional-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #FFFFFF;
    display: table;
    width: 100%;
  }
  
  .fetched-data-container {
    margin: 20px;
    padding-left: 10px;
    margin-left: 10%;
    border-radius: 5px;
    background-color: #FFFFFF;
    display: table;
    width: 90%; /* Set the maximum width to 70% */
    color: gray;
  }
  
  .fetched-data-row {
    display: table-row;
  }
  
  .fetched-data-cell {
    display: table-cell;
  }
  
  /* Styling for odd and even rows */
  .fetched-data-row:nth-child(odd),
  .fetched-data-row:nth-child(even) {
    background-color: #FFFFFF;
  }
  
  .title {
    text-align: left;
    color: gray;
    font-weight: normal;
    font-size: small;
  }
  
  .api_data {
    text-align: left;
    color: rgb(72, 72, 72);
    font-weight: normal;
    font-size: medium;
  }
  
  .text {
    font-size: medium;
    text-align: left;
    color: gray;
    font-weight: normal;
  }
  
  #map {
    width: 100%;
    height: 500px;
  }
  
  /* temporary styling ending line */