body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  font-size: 16px! important;
}

.main-content {
  padding: 15px 15px;
  min-height: calc(100vh - 140px);
}

.bottom-margin {
  margin-bottom: 20px;
}

.img-homepage {
  with:100%;
}

#auth-header-buttons {
  text-align: right;
}

.error-component {
  background-color: #6691A4;
  color: white;
  padding: 20px;
  border-radius: 5px;
  margin-top: 10px;
}

/* SNIPPET */
.snippet-wrapper {
  height: 120px;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.snippet {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.snippet-content {
  background-color: #fafafa;
  padding-left: 15px;
  padding-right: 15px;
}

.ml-10 {
  margin-left: 10px;
}



/*VISUALISATION*/
.vis-list {
  padding: 10px 10px;
  margin: 5px 5px;
}

.vis-list-items {
  height: 160px;
  max-height: 160px;
  overflow-y: auto;
  cursor: pointer;
}

.text-align-center {
  text-align: center;
}

.mb-40 {
  margin-bottom: 40px;
}

/* ACTOGRAM STYLES */
.legend-color {
  height: 23px;
  border: 1px solid;
}

.legend-label {
  text-align: left;
}

.ag-icon-filter {
  color: red;
}

.legendGraph {
  text-align: left;
  font-weight: bold;
}