.input-readonly {
  background-color: #f3f4f6; /* light gray */
  color: #6b7280;            /* gray-500 */
  border-color: #d1d5db;     /* gray-300 */
  cursor: not-allowed;
}


.input-modified {
  border: 2px solid orange !important;  
  background-color: #fff8d6 !important; 
}