body {
    font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
}

.row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.bold {
    font-weight: bold;
}

.snippet-icon {
    font-size: 70px;
}
