.map { 
    height: 80vh;
}

.leaflet-div-icon {
    background: transparent;
    border: none;
}

.mapLegendBox{
    text-align: left;
    font-size:14px;
    color: black;
}

.mapCircleLegend {
  height: 8px;
  width: 8px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
}