body {
    font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
}

small {
    color: #A7A4A4;
}

.col-md-12 {
    float: none;
}

.container-wraper {
    border: 10px solid #e8e8e8;
    border-radius: 35px;
    margin-bottom: 20px;
    padding-top: 3%;
    padding-bottom: 3%;
}

.capitalize {
    text-transform: capitalize;
}

.copyIcon {
    margin-left: 15px;
    cursor: pointer;
}

.copy-msg {
    margin: 0 auto;
}

.margin-top {
    margin-top: 40px;
}

.mt-3p {
    margin-top: 3%;
}

.pb-3p {
    padding-bottom: 3%;
}

Image {
    margin-right: 5px;
}

.iconLeftright {
  /*display: flex;
  justify-content: flex-end;  
*/
    float: right;
    margin-top: -70px;
    transform: translateY(-10px);
}
.iconLeftright .snippet-icon{
    font-size: 30px;
}